<h1>Practicas</h1>

<table class="table table-striped">
  <tr>
    <th>Usuario</th>
    <th>Email</th>
    <th>Soluciones</th>
    <th>Puntos</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.sol %></td>
    <td><%= user.points %></td>
  </tr>
<% end %>
</table>
<br />