<h1>Practicas</h1>

<table class="table table-striped">
  <tr>
    <th>Practica</th>
    <th>Puntos</th>
    <th></th>
  </tr>

<% @practices.each do |practice| %>
  <tr>
    <td><%= practice.name %></td>
    <td><%= practice.points %></td>
    <td><%= link_to 'Mostrar', '/exercises/solve/'+practice.id.to_s %></td>
  </tr>
<% end %>
</table>
<br />